In [1]:
import numpy as np
import pandas as pd

df = pd.read_feather('products_and_orders.feather')
df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0,soft drinks,beverages
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,soy lactosefree,dairy eggs
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,popcorn jerky,snacks
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,popcorn jerky,snacks
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,paper goods,household
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,prior,13,1,12,7.0,38730.0,6.0,0.0,Brownie Crunch High Protein Bar,3.0,19.0,energy granola bars,snacks
32640694,2977660,206209,prior,13,1,12,7.0,31477.0,7.0,0.0,High Protein Bar Chunky Peanut Butter,3.0,19.0,energy granola bars,snacks
32640695,2977660,206209,prior,13,1,12,7.0,6567.0,8.0,0.0,Chocolate Peanut Butter Protein Bar,3.0,19.0,energy granola bars,snacks
32640696,2977660,206209,prior,13,1,12,7.0,22920.0,9.0,0.0,Roasted & Salted Shelled Pistachios,117.0,19.0,nuts seeds dried fruit,snacks
32640697,272231,206209,train,14,6,14,30.0,NaN,NaN,NaN,None,NaN,NaN,None,None

In [2]:
df.dropna(subset=['product_id'], inplace=True)

Next we are going to remove a couple columns which we won't need

In [3]:
df.drop(['add_to_cart_order', 'eval_set', 'aisle_id', 'department_id'], axis=1, inplace=True)

Now to one hot encode the aisle and the department.
Spaces will need to be replaced with an underscore

In [4]:
df['aisle'] = df.loc[:, ['aisle']].replace(' ', '_', regex=True)
df = pd.get_dummies(df, prefix='aisle', columns=['aisle'])

df['department'] = df.loc[:, ['department']].replace(' ', '_', regex=True)
df = pd.get_dummies(df, prefix='department', columns=['department'])

In [5]:
df

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,reordered,product_name,aisle_air_fresheners_candles,...,department_household,department_international,department_meat_seafood,department_missing,department_other,department_pantry,department_personal_care,department_pets,department_produce,department_snacks
0,2539329,1,1,2,8,NaN,196.0,0.0,Soda,False,...,False,False,False,False,False,False,False,False,False,False
1,2539329,1,1,2,8,NaN,14084.0,0.0,Organic Unsweetened Vanilla Almond Milk,False,...,False,False,False,False,False,False,False,False,False,False
2,2539329,1,1,2,8,NaN,12427.0,0.0,Original Beef Jerky,False,...,False,False,False,False,False,False,False,False,False,True
3,2539329,1,1,2,8,NaN,26088.0,0.0,Aged White Cheddar Popcorn,False,...,False,False,False,False,False,False,False,False,False,True
4,2539329,1,1,2,8,NaN,26405.0,0.0,XL Pick-A-Size Paper Towel Rolls,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32640692,2977660,206209,13,1,12,7.0,14197.0,1.0,Tomato Paste,False,...,False,False,False,False,False,False,False,False,False,False
32640693,2977660,206209,13,1,12,7.0,38730.0,0.0,Brownie Crunch High Protein Bar,False,...,False,False,False,False,False,False,False,False,False,True
32640694,2977660,206209,13,1,12,7.0,31477.0,0.0,High Protein Bar Chunky Peanut Butter,False,...,False,False,False,False,False,False,False,False,False,True
32640695,2977660,206209,13,1,12,7.0,6567.0,0.0,Chocolate Peanut Butter Protein Bar,False,...,False,False,False,False,False,False,False,False,False,True
32640696,2977660,206209,13,1,12,7.0,22920.0,0.0,Roasted & Salted Shelled Pistachios,False,...,False,False,False,False,False,False,False,False,False,True

In [6]:
df['product_name'] = df.loc[:, ['product_name']].replace(' ', '_', regex=True)

Now we need to determine when an order was made in relation to when the user started ordering. We only have relative day counting, so if we can create a column for the distance from the first order, we can then use that number to calculate when a product was last ordered.

In [7]:
subset = df.loc[:, ['user_id', 'order_id', 'order_number', 'days_since_prior_order']]
subset = subset.drop_duplicates(subset='order_id')

subset['days_since_prior_order'] = subset['days_since_prior_order'].fillna(0)

subset['days_since_user_first_order'] = 0
subset['days_since_user_first_order'] = subset.groupby('user_id')['days_since_prior_order'].cumsum()


subset.drop(['days_since_prior_order', 'order_number', 'user_id'], axis=1)

          order_id  days_since_user_first_order
0          2539329                          0.0
5          2398795                         15.0
11          473747                         36.0
16         2254736                         65.0
21          431534                         93.0
...            ...                          ...
32640648   2558525                        126.0
32640651   2266710                        155.0
32640660   1854736                        185.0
32640668    626363                        203.0
32640688   2977660                        210.0

[3214874 rows x 2 columns]

In [8]:
df = df.merge(subset, on='order_id', how='left')

In [9]:
df.drop(['user_id_y', 'order_number_y', 'days_since_prior_order_y'], axis=1, inplace=True)
df.rename(columns={'user_id_x': 'user_id', 'order_number_x': 'order_number', 'days_since_prior_order_x': 'days_since_prior_order'}, inplace=True)

In [10]:
df

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,reordered,product_name,aisle_air_fresheners_candles,...,department_international,department_meat_seafood,department_missing,department_other,department_pantry,department_personal_care,department_pets,department_produce,department_snacks,days_since_user_first_order
0,2539329,1,1,2,8,NaN,196.0,0.0,Soda,False,...,False,False,False,False,False,False,False,False,False,0.0
1,2539329,1,1,2,8,NaN,14084.0,0.0,Organic_Unsweetened_Vanilla_Almond_Milk,False,...,False,False,False,False,False,False,False,False,False,0.0
2,2539329,1,1,2,8,NaN,12427.0,0.0,Original_Beef_Jerky,False,...,False,False,False,False,False,False,False,False,True,0.0
3,2539329,1,1,2,8,NaN,26088.0,0.0,Aged_White_Cheddar_Popcorn,False,...,False,False,False,False,False,False,False,False,True,0.0
4,2539329,1,1,2,8,NaN,26405.0,0.0,XL_Pick-A-Size_Paper_Towel_Rolls,False,...,False,False,False,False,False,False,False,False,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,14197.0,1.0,Tomato_Paste,False,...,False,False,False,False,False,False,False,False,False,210.0
32434485,2977660,206209,13,1,12,7.0,38730.0,0.0,Brownie_Crunch_High_Protein_Bar,False,...,False,False,False,False,False,False,False,False,True,210.0
32434486,2977660,206209,13,1,12,7.0,31477.0,0.0,High_Protein_Bar_Chunky_Peanut_Butter,False,...,False,False,False,False,False,False,False,False,True,210.0
32434487,2977660,206209,13,1,12,7.0,6567.0,0.0,Chocolate_Peanut_Butter_Protein_Bar,False,...,False,False,False,False,False,False,False,False,True,210.0
32434488,2977660,206209,13,1,12,7.0,22920.0,0.0,Roasted_&_Salted_Shelled_Pistachios,False,...,False,False,False,False,False,False,False,False,True,210.0

In [11]:
subset = df.loc[:, ['user_id', 'product_id', 'order_id', 'days_since_user_first_order']]

subset['days_since_user_ordered_product'] = 0
subset['days_since_user_ordered_product'] = subset.groupby(['user_id','product_id'])['days_since_user_first_order'].diff()
subset['days_since_user_ordered_product'] = subset['days_since_user_ordered_product'].fillna(-1)

subset

,user_id,product_id,order_id,days_since_user_first_order,days_since_user_ordered_product
0,1,196.0,2539329,0.0,-1.0
1,1,14084.0,2539329,0.0,-1.0
2,1,12427.0,2539329,0.0,-1.0
3,1,26088.0,2539329,0.0,-1.0
4,1,26405.0,2539329,0.0,-1.0
...,...,...,...,...,...
32434484,206209,14197.0,2977660,210.0,137.0
32434485,206209,38730.0,2977660,210.0,-1.0
32434486,206209,31477.0,2977660,210.0,-1.0
32434487,206209,6567.0,2977660,210.0,-1.0
32434488,206209,22920.0,2977660,210.0,-1.0

In [12]:
df = df.merge(subset, on=['order_id', 'product_id'], how='left')

In [13]:
df.drop(['user_id_y', 'days_since_user_first_order_y'], axis=1, inplace=True)
df.rename(columns={'user_id_x': 'user_id', 'days_since_user_first_order_x': 'days_since_user_first_order'}, inplace=True)

In [14]:
df

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,reordered,product_name,aisle_air_fresheners_candles,...,department_meat_seafood,department_missing,department_other,department_pantry,department_personal_care,department_pets,department_produce,department_snacks,days_since_user_first_order,days_since_user_ordered_product
0,2539329,1,1,2,8,NaN,196.0,0.0,Soda,False,...,False,False,False,False,False,False,False,False,0.0,-1.0
1,2539329,1,1,2,8,NaN,14084.0,0.0,Organic_Unsweetened_Vanilla_Almond_Milk,False,...,False,False,False,False,False,False,False,False,0.0,-1.0
2,2539329,1,1,2,8,NaN,12427.0,0.0,Original_Beef_Jerky,False,...,False,False,False,False,False,False,False,True,0.0,-1.0
3,2539329,1,1,2,8,NaN,26088.0,0.0,Aged_White_Cheddar_Popcorn,False,...,False,False,False,False,False,False,False,True,0.0,-1.0
4,2539329,1,1,2,8,NaN,26405.0,0.0,XL_Pick-A-Size_Paper_Towel_Rolls,False,...,False,False,False,False,False,False,False,False,0.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,14197.0,1.0,Tomato_Paste,False,...,False,False,False,False,False,False,False,False,210.0,137.0
32434485,2977660,206209,13,1,12,7.0,38730.0,0.0,Brownie_Crunch_High_Protein_Bar,False,...,False,False,False,False,False,False,False,True,210.0,-1.0
32434486,2977660,206209,13,1,12,7.0,31477.0,0.0,High_Protein_Bar_Chunky_Peanut_Butter,False,...,False,False,False,False,False,False,False,True,210.0,-1.0
32434487,2977660,206209,13,1,12,7.0,6567.0,0.0,Chocolate_Peanut_Butter_Protein_Bar,False,...,False,False,False,False,False,False,False,True,210.0,-1.0
32434488,2977660,206209,13,1,12,7.0,22920.0,0.0,Roasted_&_Salted_Shelled_Pistachios,False,...,False,False,False,False,False,False,False,True,210.0,-1.0

In [15]:
df.to_feather('mined_data.feather')

In [16]:
df.drop(['order_id', 'order_number', 'user_id', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'reordered', 'product_name', 'days_since_user_first_order'], axis=1)

,order_number,aisle_air_fresheners_candles,aisle_asian_foods,aisle_baby_accessories,aisle_baby_bath_body_care,aisle_baby_food_formula,aisle_bakery_desserts,aisle_baking_ingredients,aisle_baking_supplies_decor,aisle_beauty,...,department_international,department_meat_seafood,department_missing,department_other,department_pantry,department_personal_care,department_pets,department_produce,department_snacks,days_since_user_ordered_product
0,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,-1.0
1,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,-1.0
2,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,-1.0
3,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,-1.0
4,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,13,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,137.0
32434485,13,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,-1.0
32434486,13,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,-1.0
32434487,13,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,-1.0
32434488,13,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,-1.0